<form action="/answer" data-turbo="false">
  <label for="question">What will you ask Coach?</label>
  <input type="text" id="question" name="question" placeholder="Sample question...">
  <input type="submit" value="Ask!">
</form>
